/* Basic */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  color: rgb(65, 65, 65);
}


/* Layout */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding-top: 20px;
}

section {
  float: left;
  width: 140px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(151, 151, 151, 0.322);
}

section:last-of-type {
  border-right: none;
}

.scoreboard {
  height: 340px;
  text-align: center;
}

button:not(:last-of-type) {
  margin-bottom: 20px;
}

/* UI Elements */

.btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(224, 224, 224, 0.671);
  box-shadow: 0px 1px 4px rgb(167, 167, 167);
  border-radius: 1px;
  outline: none;
  font-family: "Oswald", sans-serif;
  transition: all .3s;
  font-size: 1.5em;
  color: rgb(65, 65, 65);
}

.btn:hover {
  box-shadow: 0px 2px 6px rgb(156, 156, 156);
}

.btn:active {
  box-shadow: 0px 1px 4px rgb(167, 167, 167);
}

.score {
  padding-bottom: 20px;
  font-size: 1.9em;
  height: 50%;
}

.pick {
  font-size: 2.5em;
}

.winner {
  height: 340px;
  text-align: center;
}

.message {
  height: 35%;
  font-size: 2em;
}

.win {
  color: rgb(51, 179, 68);
}

.lose {
  color: rgb(197, 41, 41);
}

.tie {
  color: rgb(48, 80, 224);
}

.score div {
  font-size: 1.5em;
  margin-top: 40px;
}